@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body{
    margin: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    font-family: Roboto;
}

.header{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(219, 60, 50);
    color: white;
    height: 50px;
    box-shadow: 0px 3px 7px -5px #94a3b8;
}

/* Sidebar Styles*/

.sidebar{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(250, 250, 250);
    width: 250px;
    box-shadow: 3px 0px 7px -5px #94a3b8;
    grid-template-rows: auto 1fr;
    padding: 20px;
}

.nav-button{
    display: grid;
    grid-template-columns: auto 1fr;
}

.lists-by-date{
    display: grid;
}
.nav-icon{
    width: 19px;
}

.tasks-by-project{
    display: grid;
    grid-template-rows: auto 1fr;
}

.project-heading > img{
    width: 15px;
}

.project-heading{
    display: grid;
    grid-template-columns: 1fr auto;
    font-weight: bold;
    align-items: center;
}

.fa-plus{
    color: blue;
    font-size: 1.5em;
    font-weight: 300;
}

.add-project-form{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.project-name-input{
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
}

/* Main content styles */

.display-container{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 40px;
    gap: 10px;
    padding-right: 20vw;
}

.section-title{
    font-size: 1.25em;
    font-weight: bold;
}

.section-content .fa-plus{
    color: rgb(219, 60, 50);
}

.section-content .add-task{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: .95em;
    color: rgb(100, 100, 100)
}

.task-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-task-collapsed{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 10px;
    row-gap: 2px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}

.user-task-collapsed > .fa-regular{
    grid-row: 1/3;
}

.task-name-collapsed{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 0.95em;
}

.task-desc-collapsed{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 0.85em;
    color: rgb(100, 100, 100);
}

.due-date-collapsed{
    grid-row: 1/3;
}

.task-description{
    font-size: .98em;
    font-weight: 400;
}
.fa-circle{
    color: rgb(100, 100, 100);
}

/* Styles for Add Task Input Window*/

.add-task-form{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
    width: 500px; /*Update later*/
}

.add-task-inputs{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 5px;
}

.task-name-input{
    height: 25px;
}

.taskDescInput{
    height: 75px;
}

input,
textarea{
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: .95em;
}    

textarea{
    resize: none;
}

button{
    border: none;
    border-radius: 10px;
    height: 35px;
    font-size: .90em;
    font-weight: bold;
    width: fit-content;
    padding: 0 10px 0 10px;
    background-color: rgb(200, 200, 200);
    margin: 0;
}
.submit-task,
.submit-project{
    background-color: red;
    color: white;
}

.add-project-buttons,
.add-task-buttons{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

/* Footer */

.footer{
    display: grid;
    grid-row: 3/4;
    grid-column: 1/3;
}